.login {
  width: 100%;
  height: 100vh;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWeapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.loginSesc {
  font-size: 24px;
  color: var(--fonts-color);
}

.loginBox {
  height: 300px;
  padding: 20px;
  background: var(--card-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  background: var(--background);
}

.loginButton,
.loginRegisterButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background: var(--primary-color);
  color: var(--background);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.loginForgot {
  text-align: center;
  color: var(--primary-color);
}
.loginRegisterButton {
  width: 60%;
  background: var(--green);
  align-self: center;
}
