.share {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background: var(--card-bg);
}
.shareWrapper {
  padding: 12px;
}
.shareTop {
  display: flex;
  align-items: center;
}
.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
  background: none;
  color: var(--fonts-color);
}
.shareInput:focus {
  outline: none;
}
.shareHr {
  margin: 12px;
}
.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shareOptions {
  display: flex;
  margin-left: 12px;
}
.shareOption {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  color: var(--fonts-color);
}
.shareIcon {
  font-size: 18px;
  margin-right: 5px;
}
.shareOptionText {
  font-size: 14px;
  font-weight: 400;
}
.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background: var(--green);
  font-weight: 500;
  color: var(--background);
  margin-right: 12px;
  cursor: pointer;
}
